/* 
 */
.bullet-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    border-radius: 8px;
    align-items: start;
    justify-content: start;
    gap: 4px;
    /* background-color: #f0f0f0; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.bullet-text-icon {
    /* width: 24px;
    height: 24px; */
    /* margin-bottom: 8px; */
}

.bullet-text-description {
    font-size: 16px;
    color: #333;
    text-align: start;
}