/* import React from "react";

import '../styles/Contact.css';

const Contact=()=> {
    return (<section id="contact" className="contact-section container" > <h2 className="section-title" >Contact Me</h2> <p>If you have any questions or just want to say hi, feel free to reach out !</p> <div className="contact-info" > <p>Email: <a href="mailto:haileamlak@gmail.com" >haileamlak@gmail.com</a></p> <p>Phone: <a href="tel:+251906397248" >+251 906 397 248</a></p> <p>LinkedIn: <a href="https://www.linkedin.com/in/haileamlak/" target="_blank" rel="noopener noreferrer" >Haileamlak Tesfaye</a></p> <p>GitHub: <a href="https://www.github.com/haileamlak" target="_blank" rel="noopener noreferrer" >Haileamlak</a></p> </div> </section>);
}

;

export default Contact; */

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 90px 0;
    background-color: #F6F6F6;
}

.contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    /* max-width: 1200px; */
    /* padding: 0 2rem; */
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    max-width: 600px;
}
.contact-description {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 1.5rem;
    /* max-width: 600px; */
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.2rem;
    color: #333;
}

.contact-address {
    display: flex;
    flex-direction: column;
    align-items: start;

    justify-content: center;
    gap: 1rem;
}

.contact-address p {
    font-size: 1.2rem;
    color: #333;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact-address a {
    color: #5C9B80;
    font-weight: bold;
    text-decoration: none;
}

.contact-address a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .contact-form-container {
        width: 100%;
    }

    .contact-address p {
        font-size: 1rem;
    }

    .section-title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .contact-address p {
        font-size: 0.9rem;
    }

    .section-title {
        font-size: 1.2rem;
    }
}