.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: #262626;
    padding: 2rem;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    position: relative;
}

.close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: none;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: #E5E5E5;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    padding: 0.75rem;
    border: 1px solid #000;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #000;
    color: #E5E5E5;
}
.contact-form textarea{
    min-height: 100px;
    min-width: 100%;
}

.contact-form textarea:focus {
    outline: none;
    border: 1px solid #5C9B80;
    box-shadow: 0 0 0 3px rgba(92,155,128,0.15);
    /* border-color:none; */
}

.contact-form button {
    background-color: #5C9B80;
    color: white;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #4a7f6d;
}


.success-message {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 320px;
}

.success-message h2 {
    margin-bottom: 0.5rem;
    color: #5C9B80;
}

.success-message p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.success-message button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 6px;
    background-color: #5C9B80;
    color: white;
    border: none;
    cursor: pointer;
}

.success-message button:hover {
    background-color: #4a7f6d;
}



@media screen and (max-width: 768px) {
    .modal {
        width: 100%;
    }
}