.education-section {
    padding: 0px 0 90px ;
    background-color: #000;

    
    /* background-color: #F5F5EE; */
}

.education-list {
    display: flex;
    flex-direction: column;
    /* margin-left: 16px; */
    /* margin-left: 2%; */
    gap: 30px;
}
   
