.education-section {
    padding: 90px 0;
    
    /* background-color: #f0f0f0; */
}

.education-list {
    display: flex;
    flex-direction: column;
    /* margin-left: 16px; */
    /* margin-left: 2%; */
    gap: 30px;
}
   
