.extra-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0px 0 90px ;
    /* background-color: #f1f1eb; */
    background-color: #000;

}


.extra-cards {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 1.5rem;
    justify-content: space-between;
    /* margin-bottom: 1rem; */
}