.extra-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    border-radius: 18px;
    width: 100%;
    /* max-width: 600px; */
    min-width: 250px;
    /* box-sizing: border-box; */
    background-color: #262626;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* border: 1px solid #F6F6F6; */
}

.extra-image {
    width: 80px;
    height: 80px;
    border-radius: 15%;
    margin-right: 16px;
}

.extra-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15%;
}

.extra-content {
    flex: 1;
}

.extra-title {
    font-size: 16px;
    color: #51a07e;
    margin: 0 0 8px;
    font-weight: bold;
}

.extra-date {
    font-size: 14px;
    color: #777;
    margin-bottom: 8px;
}

.extra-description {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: end;
    color: #CCC8C8;

}

@media (max-width: 600px) {
    .extra-card {
        flex-direction: column;
        align-items: start;
        padding: 16px 0;
    }

    .extra-image {
        margin-bottom: 12px;
    }
}
