/* 
<section id="hero" className='container'><div className="hero-content"><h1 className='hero-title'>I'm <span style={{ color: ' #5C9B80' }}>Haileamlak Belachew</span></h1>
 <p className='hero-subtitle'>Software Engineer • Computer Science Graduate</p><p className='hero-description'>I'm currently building <a href="https://brownai3.web.app" target="_blank" rel="noopener noreferrer">BrownAI</a>, a company focused on AI solutions.</p>
 <div className='hero-buttons'><Button text="View Resume" onClick= {
    ()=>window.open('https://drive.google.com/file/d/1rYu-mIcsTrAeCuH-xHPofrI1i1qNVzqO/view?pli=1', '_blank')
}

imageSrc="src/assets/resume-icon.png" /><OutlinedButton text="Contact Me" /></div></div></section> */

/* Hero styles */
#hero {
    /* padding: 100px 0; */
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: start;
    background-image: url('src/assets/back2.jpg');
    background-size: cover;
    background-position: center;
    /* opacity: 0.5; */
    /* margin: 0 8%; */
}

.hero-content {
    max-width: 650px;
    margin: 0 0;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;    
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2rem;
    border-radius: 24px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* blur */
    backdrop-filter: blur(2px);
    /* z-index: 1; */
    color: #000000;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    /* border-radius: 12px; */
}

.hero-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.hero-subtitle {
    font-size: 1.5rem;
    /* color: #5C9B80; */
    margin-bottom: 1rem;
    font-weight: bold;
}

.hero-description {
    font-size: 1.2rem;
    /* color: #fff; */
    margin-bottom: 2rem;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


@media screen and (max-width: 768px) {
   
    .hero-content {
        /* max-width: 90%; */
        padding: 1.5rem;
    }
    .hero-title {
        font-size: 2rem;
    }
    .hero-subtitle {
        font-size: 1.2rem;
    }
    .hero-description {
        font-size: 1rem;
    }

    .hero-buttons {
        flex-direction: column;
        align-items: start;
    }
    
}