@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand/static/Quicksand-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand/static/Quicksand-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand/static/Quicksand-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand/static/Quicksand-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand/static/Quicksand-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
}
/* Reset and base styles */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand',
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

        /* border: .1px solid red */
}

body {
    background-color: #262626;

    /* background-color: #ffffff; */
    color: #000;
    line-height: 1.6;
    padding: 0 20%;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

* {
    /* border: 1px solid red; */
}
/* Header and Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F6F6;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); */
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    /* color: #333; */
    color: #CCC8C8;

}

/* small sized screen */
@media screen and (max-width: 1024px) {

    .container {
        padding-left: 8%;
        padding-right: 8%;
    }

    body {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding-left: 6%;
        padding-right: 6%;
    }

}