.navbar {
    position: fixed;
    top: 20px;
    left: 8%;
    right: 8%;
    /* width: 90%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    height: 80px;
    z-index: 1000;
    padding: 1.2rem 2rem;
    /* background-color: #fefdf9; */
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); */
    font-family: Avenir,
        ui-sans-serif,
        system-ui,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        Segoe UI Symbol,
        "Noto Color Emoji";
    ;
}

.navbar.open {
    /* bottom border radius */
    border-radius: 20px 20px 0 0;
}


.nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

/* .nav-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
} */

.logo {
    /* background-color: #ff5500; */
    /* color: white; */
    font-weight: bold;
    padding: auto 0.8rem;
    /* font-size: 1.2rem; */
    /* border-radius: 4px; */
    text-decoration: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    /* height: 70px; */
}

.logo img {
    width: 100%;
    /* height: auto; */
    /* margin: auto 0; */
}

.nav-links {
    display: flex;
    gap: 1.2rem;
    background-color: #FBF8EF;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.05rem;
    cursor: pointer;
}

.nav-links a:hover {
    color: #5C9B80;
}

.nav-toggle {
    display: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

/* transition for menu icon */
.menu-icon {
    transition: all 0.3s ease-in-out;
}


/* Mobile styles */
@media (max-width: 768px) {
    .navbar {
        left: 5%;
        right: 5%;
    }
    .nav-toggle {
        display: flex;

    }

    .nav-links {
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        background: #FBF8EF;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        border-radius:0 0 20px 20px ;
        gap: 15px;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
        padding: 20px 8%;
        visibility: hidden;
        z-index: 1000;
        /* display: none; */
    }

    .nav-links.open {
        /* display: flex; */
        max-height: 520px;
        visibility: visible;
        /* enough height to show all links */
        /* padding: 0 8% 20px;    */
    }
}

