.outlined-button {
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    /* border-radius: 36px; */
    /* background-color: #e23b3b; */
    padding: 12px 24px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 50px;
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.outlined-button.hovered {
    color: #5C9B80;
    background: #fff;
}
