.projects-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0px 0 90px ;

        /* background-color: #B2B2B2; */
    background-color: #fff;

}


.projects-cards {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 1.7rem;
    justify-content: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
}