
.skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skill-card {
    background-color: #262626;
    padding: .5rem .7rem;
    border-radius: 10px;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); */
    /* max-width: 315px; */
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    justify-content: start;
    /* border: 1px solid #e0e0e0; */
    /* background-image: url('/src/assets/mobile-app.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
}

.skill-card h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #0771b8;
    /* margin-bottom: 0.5rem; */
}

.skill-card img {
    width: 32px;
    height: 32px;
    /* max-width: 40%; */
    /* max-height: 100%; */
    object-fit: contain;
    /* border-radius: 30%; */
}