.skills-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* padding: .8rem 8%; */
    background-color: #F6F6F6;
    gap: 2rem;
    padding: 90px 0;
}


.skills-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: start;
    margin-bottom: 1rem;
    margin-left: 1rem;
}