
#about-me .content {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    /* max-width: 1000px; */
    /* margin: 10px auto; */
    text-align: right;

    /* color: #e67e22; */
    /* font-family: 'Roboto', sans-serif; */
}

#about-me .image {
    flex: 1;
    min-width: 10%;
    max-width: 25%;
    /* margin: 40px; */
    text-align: center;
}

#about-me .image img {
    width: 100%;
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
}

#about-me .text {
    /* flex: 2; */
    min-width: 60%;
    max-width: 70%;
    text-align: left;
    font-family: Fredoka;
}

#about-me h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    /* color: #e67e22; */
    text-align: left;
    /* font-family: "Montserrat", sans-serif; */
}

#about-me h2 span {
    color: #e67e22;
}

.job-title {
    color: #e67e22;
}
/* #about-me h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
} */

#about-me p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
    
    /* font-family: "Montserrat", sans-serif; */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    #about-me .content {
        flex-direction: column;
        text-align: center;
        /* padding: 20px; */
        /* margin: 10px; */
    }

    #about-me .image {
        margin-right: 0;
        margin-bottom: 20px;
        /* background-color: #000000; */
        border-radius: 10px;
    }

    #about-me h2 {
        font-size: 2em;
        text-align: center;
        /* margin-bottom: 10px; */
    }

    #about-me p {
        font-size: 1em;
        margin-bottom: 0;
        text-align: left;
        padding: 0 10px;
    }
}