/* Basic section styling */
.achievements-list {
    /* padding: 40px 20px; */
    /* background-color: #f5f5f5; */
    min-width: 70%;
}


/* Each achievement */
.achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 20px 0;
    width: 90%;
    padding: 10px;
    border-radius: 18px;
    background-color: #011e2b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.achievement .date {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    position: relative;
}

.achievement .content h3 {
    font-size: 1.1rem;
    color: #e67e22;
}

.achievement .content p {
    font-size: 0.9rem;
    color: #ffffff;
}

/* Circle indicator */
.achievement::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 15px;
    width: 12px;
    height: 12px;
    background-color: #e67e22;
    border-radius: 50%;
}

/* Vertical line connector */
.achievement:not(:last-child)::after {
    content: "";
    position: absolute;
    left: -5px;
    top: 30px;
    width: 2px;
    height: calc(100% + 20px);
    /* background-color: #e67e22; */
}

/* Responsive styles */
@media (min-width: 768px) {
    .achievement {
        width: 45%;
        margin: 20px;
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }

    .achievement .date {
        margin-right: 20px;
        flex: 0 0 20%;
        text-align: right;
    }

    .achievement .content {
        flex: 0 0 75%;
    }

    /* Adjust circle position for horizontal layout */
    .achievement::before {
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
    }

    /* Adjust line position for horizontal layout */
    .achievement:not(:last-child)::after {
        top: 50%;
        left: -5px;
        height: 2px;
        width: calc(100% + 40px);
        /* background-color: #ddd; */
    }
}