

.experience-section {
    /* padding: 50px; */
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
}

.timeline {
    /* position: relative; */
    /* padding-left: 30px; */
    max-width: 800px;
    margin: auto;
    border-left: 2px solid #e67e22;
}

.timeline-item {
    margin-bottom: 30px;
    position: relative;
}

.timeline-point {
    width: 12px;
    height: 12px;
    background-color: #e67e22;
    border-radius: 50%;
    position: absolute;
    left: -7px;
    top: 5px;
}

.timeline-content {
    padding-left: 20px;
}

.date {
    color: #e67e22;
    font-weight: bold;
    font-size: 1.2em;
}

h3 {
    margin: 5px 0;
    font-size: 1.5em;
}

h4 {
    margin: 5px 0;
    font-size: 1.2em;
    color: #ccc;
}

.timeline-content p {
    margin: 10px 0;
    color: #ccc;
    border-left: 1px solid #e67e22;
    list-style-type: circle;   
    padding-left: 20px;
    /* font-family: "Montserrat", sans-serif; */
}

/* .timeline-item::after {
    content: '';
    position: absolute;
    left: -1px;
    width: 2px;
    height: calc(100% + 20px);
    background-color: #00ff75;
} 