.card {
    position: relative;
    width: 370px;
    aspect-ratio: 16/9;
    background-color: rgb(255, 253, 253);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #011e2b;
}

.card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* transparency */
    /* background-color: #011e2b; */
}
.projects-list {
    display: flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        /* margin-bottom: 50px; */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #011e2b;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 20px;
    color: #B28135;
    font-weight: 700;
    text-align: left;
}

.card:hover svg {
    scale: 0;
}

.card__description {
    margin: 10px 0 10px;
    font-size: 12px;
    color: #ffffff;
    line-height: 1.4;
    text-align: justify;
}

.card__button {
    padding: 15px;
    border-radius: 8px;
    /* background: #B28135; */
    border:1px solid #e67e22;
    color: rgb(255, 255, 255);
}

.secondary {
    background: transparent;
    color: #ffffff;
    border: 1px solid #777;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-bottom: 10px;
    /* align-self: ; */
}

/* small screen size */
@media screen and (max-width: 768px) {
    .card {
        aspect-ratio: 5/3;
    }
    .card__description {
        object-fit: cover;
    }
}