.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* display: flex;
    flex-wrap: wrap; */
    gap: 20px;
    text-align: center;
    justify-content: left;
    padding: 10px;
}

.skills-list {
    min-width: 70%;
    text-align: left;
    justify-content: left;
    
}

.skill-item {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    min-width: 70px;
    height: 100px;
}

.skill-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.skill-item span {
    display: block;
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
}

.skill-item:hover {
    transform: scale(1.05);
    background-color: #011e2b;
}

.databases, .lang, .frameworks, .tools {
    text-align: left;
    padding: 10px 0;
}